# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates
x64/
Debug/
Release/
*.obj
*.pdb
*.iobj
*.ipdb
*.ilk
*.log
*.tlog
*.lastbuildstate

# Executables
*.exe

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
env/

# OS
.DS_Store
Thumbs.db
